
body {
	background: #ffffff;
	overflow-x: hidden;
}
h3 {
	font-size: 20px;
	color: #222;
}
 html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;

      }
.box_color_main {
  width : 100%;
  height  : 100%;
  border-radius: 16px;
  	background-color: #48b5e9;
}
.chartdiv {
  border-radius: 14px;

}
.filter_color_boxs {
    min-height: 30px;
    max-height: 300px !important;
    }
.left-div-main.navbar-nav > li:hover > a {
	background: none;
	color: #249bef;
}
top-header .glyphicon {
	color: #fff;
	font-size: 15px;
}
.errorMessage {
	background-color: #FF5F5A;
	display: block;
	padding: 8px 12px;
	font-size: 13px;
	color: #fff;
	font-weight: 700;
	line-height: 1;
	border-radius: 3px;
}
.box_color_main {
	padding: 1px;
	border-radius: 3px;
}
.filter_color_boxs p {
	margin-bottom: 0px;
}
.filter_color_boxs a {
	padding: 5px;
	display: block;
	margin-bottom: 1px;
}
.filter_color_boxs a.highlight {
	background-color: #249BEF;
	color: #fff;
}
.btn_let-site {
	width: 40px;
	height: 32px;
	position: absolute;
	left: -36px;
	text-align: center;
	border-radius: 3px;
	background: #fff url(../images/Disease/navicon.png) 6px 4px no-repeat;
	cursor: pointer;
	color: #333;
	padding-top: 10px;
	top :0px;
}
.filters_box {
	background: #fff;
	border-radius: 3px;
	width: 250px;
	position: absolute;
	right: -10px;
	top: 120px;
	padding: 10px;
	padding-right: 20px;
	z-index: 9999;
}
.filter_color_boxs {
	min-height: 30px;
	max-height: 130px;
	margin-top: 18px;
	/*padding-top: 12px;*/
	border-top: 1px solid #CCCCCC;
	overflow-y: auto;
}

.filters_box.hidefilter {
	right: -251px;
}
.alert a.close {
	position: absolute;
	right: 10px;
	top: 8px;
}

.error_msg {
	color: #FF0000;
	font-size: 14px;
}

. design-font-d {
font-size:11px;
}
#chartdiv {
	background: #c8c8ca;
	color: #c8c8ca;
	width : 100%;
	height : 600px;
	font-size : 11px;
}
.filter_color_box {
	width: 15px;
	height: 15px;
	border: 1px;
	float: left;
}
.filter_color_content {
	float: left;
	margin-left: 10px;
	line-height: 14px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.alert.in.fade {
  margin-top: 69px;
  margin-bottom: 0px;
  position: absolute;
  /* top: 40px; */
  width: 100%;
  min-height: 43px;
  z-index: 999;
}

.gm-style-iw {
	top: 1px !important;
	left: 0px !important;
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	/*margin-bottom: 10px;*/
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	/*margin: 3px;*/
	background-color: #266383;
	color: white;
	/*border-radius: 2px 2px 0 0;*/
	/*border-radius: 7px;*/
	font-weight: bold;
	padding: 5px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#iw-container .iw-content {
   background-color: hsl(159, 27%, 88%);
   border-radius: 12px;
   font-size: 13px;
   font-weight: 400;
   height: auto;
   line-height: 18px;
   margin-right: 1px;
   padding: 2px 5px 5px 15px;
   width: 190px;
}
}

.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
/*.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: gray;
}

/* white background and box outline */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div
{
    background-color: transparent !important;
    box-shadow: none !important;
  /*  width: auto !important;
    height: auto !important;*/
}

/* arrow colour */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div
{
    background-color: #e7f8f2 !important; 

}

/* close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child
{	
	right: 15px !important;
	top :28px !important;
    margin-right: 23px;
    border-radius: 50%;
}


/* positioning of infowindow */
.gm-style-iw
{
	/*background-color: #fff !important;*/
    top: 22px !important;
    left: 22px !important;
    width: 190px !important;
    border-radius: 8px;
   /* background-color: #266383 !important;*/
    /*height: 100px;*/
   /* background-repeat: no-repeat;*/
}
.search
{
	width: 100%;
    border-style: hidden;
    height: 35px;
    color: gray;

}
.search-main
{
padding: 0px !important;
margin: 0;
height: 10px;
}
input
{
	font:initial !important;
}
body {
	        background-color: #000;
	        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	        font-size: 14px;
	        color:#000;
	        margin: 0;
	        padding: 0;
	    }
		.box {
		    background: #fff none repeat scroll 0 0;
		    /*height: 416px;*/
		    position: absolute;
		    right: 12%;
		    top: 18%;
		    width: 346px;
		    z-index: 10000;
		}
		.topmenu-active{
			color :black;
		}
		.resize-login{
			z-index: 10001;
		}
		  html, body {
        position: relative;
        height: 100%;
   		}
	   .window {
	   border-radius: 16px; /* In accordance with the rounding of the default infowindow corners. */
		}
	    .swiper-container {
	        width: 100%;
	        height: 100%;
	    }
	    .swiper-slide {
	        background-position: center;
	        background-size: cover;
	    }
	.hidden { 
		display: none; 
	}
	.leaflet-popup-close-button
	{

		/*top: 10px !important;
		right: 23px !important;
		padding: 10px 0px 0 0 !important;
		*/
	}
	.leaflet-popup-content-wrapper
	{
		background: #d7e8e2 !important;
	}
	.leaflet-popup-content
	{
		margin: 0 !important;
		/*line-height: 1.4*/
	}
	.leaflet-popup-content-wrapper
	{
		padding: 0 !important;
		/*border-radius: 0 !important;*/
	}
	.leaflet-popup-content-wrapper, .leaflet-popup-tip
	{
		background: #d7e8e2 !important;
		/*border-radius: 7px !important;*/
	}
	.disease_heading
	{
		float: right;
		color: #fff;
		font-weight: bold;
		
		font-size: 16px;
		width: 150px;
		text-align: right;
		margin: 28px 23px;
	}
	
.map_inner_wrapper_2{
	padding: 0 50px;
}

.map_inner_wrapper_3 {
    margin: 0 auto;
    width: 800px;
    overflow: hidden;
}

@media only screen and (max-width: 768px){
.map_inner_wrapper_2 {
    padding: 0 20px;
}

.map_inner_wrapper_3 {
    margin: 0 auto;
    width: 100%;
    background-color: #266383;
}
}
.map_logo_div
{
	display: table;
	/*margin: 23px auto 10px;*/
	text-align: center;
	width: 100%;
}
.disease_heading2 {
    
    font-weight: bold;
    font-size: 18px;

}
.dd_map_responsive{
    display: inline;
}

.disease_dd_logo_responsive{

    display: table;
    margin: 13px auto;
    text-align: center;
}
.navbar-brand-disease.disease_logo_img_2 {
   	background-image: url("../../assets/images/Disease/logo-mob-bl.png");
	background-repeat: no-repeat;
	height: 62px;
	width: 62px;
	background-size: cover;
}
.navbar-brand-disease
{
	float: left;
	margin-top: 0px;
	padding: 0px 0px 0 2px;
	line-height: 0;
}
@media only screen and (max-width: 768px){
.filters_box {
top: 169px;
}
}



.logo_div_a	
{
	float: left;
	height: 72px;
	width: 15%;
}
.login_div_b
{
	float: right;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width: 343px;
    margin: 30px auto;
    color: #fff;
}
.login_div_b a {	
    border: 1px solid hsla(0, 0%, 100%, 0.7);
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    padding: 9px 18px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.login_div_b a:hover, .login_div_b a:focus {
    background: #428bca;
    color: #fff;
    text-decoration: none;
}
.disease_heading img {
    width: 159px;
    height: 23px;
}
.disease-doctorlogin_main2 {
    margin-right: 0;
    float: left;
    color: #fff;
}
.disease-doctorlogin_main2 a {
    color: #fff;
}
.disease-patientlogin_main2 {
    float: left;
}
.disease-patientlogin_main2 a {
    color: #fff;
}
.disease_heading2 img
{
	width: 159px;
	height: 21px;
}
.disease-dd_drlogin_responsive {
     display: none;
}
.disease-login_div2{
	float: right;
	margin: 0 10px 15px 0;
	font-size: 14px;
	text-transform: uppercase;
}
